/markup/
frontend/node_modules/
frontend/.pnp
frontend/.pnp.js
frontend/coverage
frontend/build
backend/node_modules/
backend/dist/
backend/*mongodb/
backend/upload/

.vscode/
.idea/*
*.log
*.env

# misc
Thumbs.db
.DS_Store
.env
*.log*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editors
.idea
*.sublime*
.vscode
